venv/
env/
.venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db

.ipynb_checkpoints

.env
.env.*

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

*.pid
*.sock

alembic/versions/

htmlcov/
.tox/
.coverage
.cache
pytest_cache/


.mypy_cache/
.dmypy.json
.pyre/
.pytype/
